<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291828843752-nn30ctr2pneeqhitqt1cdtpu3ubml7kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291828843752-nn30ctr2pneeqhitqt1cdtpu3ubml7kt</string>
	<key>API_KEY</key>
	<string>AIzaSyCVBrna0KJn_E7nowWuYk2expcLtRN3iOE</string>
	<key>GCM_SENDER_ID</key>
	<string>291828843752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartlocker</string>
	<key>PROJECT_ID</key>
	<string>issmartlocker</string>
	<key>STORAGE_BUCKET</key>
	<string>issmartlocker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291828843752:ios:613561d1513b55ea09755d</string>
	<key>DATABASE_URL</key>
	<string>https://issmartlocker-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>